<div class="background">
    <div class="calculadora">
        <div class="display">
            <div id="valor-anterior">Valor anterior</div>
            <div id="valor-actual">Valor actual</div>
        </div>
        <div class="botones">
            <button (click)="display.borrarTodo()" class="doble">C</button>
            <button (click)="display.borrar()">←</button>
            <button [value]="'division'" class="operador">%</button>
            <br>

            <button class="numero">7</button>
            <button class="numero">8</button>
            <button class="numero">9</button>
            <button class="operador" [value]="'multiplicar'">x</button>
            <br>

            <button class="numero">4</button>
            <button class="numero">5</button>
            <button class="numero">6</button>
            <button class="operador" [value]="'restar'">-</button>
            <br>

            <button class="numero">1</button>
            <button class="numero">2</button>
            <button class="numero">3</button>
            <button class="operador" [value]="'sumar'">+</button>
            <br>

            <button class="numero doble">0</button>
            <button class="numero">.</button>
            <button class="operador" [value]="'igual'">=</button>
        </div>
    </div>
</div>